/* import the monospace font */
@font-face {
    font-family: monospace;
    src: url(NotoSansMono.ttf);
}

/* define variables */
:root {
    --background-color: #fff;
    --tui-div-line-height: 20px;
}

/* remove body padding and color background */
body {
    margin: 0px;
    background-color: var(--background-color);
}

#tui {
    overflow: hidden;
}

#tui span {
    font-size: 20px;
    background-color: var(--background-color);
    font-family: monospace;
}

#tui div {
    line-height: var(--tui-div-line-height);
}